:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}
#page-home {
    height: 100vh;
    background: url('/assets/home-background.svg') no-repeat;
    background-position: 40vw bottom;
}
#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#page-home header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}
#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}
#page-home header a span {
    background: url('/assets/log-in.svg');
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 16px;
}
#page-home main {
    max-width: 560px;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
#page-home main h1 {
    font-size: 54px;
}
#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}
#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    margin-top: 40px;
    transition: 400ms;
    color: #ffffff;
}
#page-home main a:hover {
    background-color: #2fb86e;
}
#page-home main a span {
    height: 72px;
    width: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-home main a span::after {
    content: "";
    background-image: url('../assets/search.svg');
    width: 20px;
    height: 20px;
}
#page-home main a strong {
    color: #ffffff;
    flex: 1;
    text-align: center;
}

@media (max-width: 900px) {
    #page-home {
        background-position: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
}